h1, #logoHolder {
  text-align: center;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

body, html {
  font-family: 'Roboto';
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.intro {
  font-size: 12px;
  text-align: justify;
  width: 400px;
  margin: 0 auto;
}

.logo {
  animation: spin infinite 20s linear;
  max-width: 115px;
  color: #333;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
