body {
    padding: 50px;
}

#root {
    display: flex;
    justify-content: center;
}

.initListMain .header .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.initListMain .header input {
    padding: 5px 8px;
    border: 1px solid #ECECEC;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 5px;
}

.initListMain .header button {
    padding: 10px 15px 10px 15px;
    margin: 10px;
    margin-right: 0px;
    background-color: #ECECEC;
    color: #333;
    border: 2px solid #ECECEC;
    cursor: pointer;
    border-radius: 5%;
}

.initListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 475px;
} 

.initListMain .theList li {
    color: #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.initListMain .theList li span {
    text-align: left;
}

ul.theList {
    padding: 0;
}

.theList li button {
    float: right;
    border: 0 none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -2px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.ally {
    background-color: rgba(139, 255, 128, 0.5);
}

.enemy {
    background-color: rgba(255, 146, 126, 0.5);
}

.downed {
    background-color: #ECECEC;
}